@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
  color: #0CB04D;
}

* {
  scroll-behavior: smooth;
  /* outline: 1px solid red; */
}

.recharts-legend-wrapper {
  padding-right: 5rem;
  display: flex;
  justify-content: center;
}

.c-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0CB04D;
  color: white;
  font-weight: bold
}

